.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  align-content: center;
  text-align: center;
}


h3{
  align-content: center;
  text-align: center;
  font-size: large;
}

h4 {
  font-size: medium;
  text-decoration: underline;
}


body {
  background-color: #5d81c9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: white;
}


section {
  margin-bottom: 70%;
  margin-top: 30%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: #ffffff;
  color: #5d81c9;
  align-content: center;
  text-align: center;
}


.header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: .5in;
  padding-top: 2%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin-left: 40px;
  margin-right: 40px;
  font-size: medium;
  color: #5d81c9;
}
